.container {width:1080px; margin:30px auto; font-size: 0;}
.container > div {display: inline-block; vertical-align: top; font-size: 16px;}
.left_menu {width: 250px;}
.left_menu a {display: block;}
#logo {font-family: "Roboto", sans-serif; color: #333; font-weight: 700;
    font-size: 24px; text-decoration: none; text-align: center;
    padding:20px 0; background-color: #fff; box-shadow:0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px; margin-bottom: 25px;
}
.dashboard_area {width: 800px; background-color: #afb; height: 900px; 
    margin-left: 30px;}
.main_menu a {
    font-size: 16px; font-family: "Roboto", sans-serif; text-decoration: none; 
    background-color: #fff; color: #333; font-weight: 500; padding:15px; 
    position: relative; margin-bottom: 15px; overflow: hidden; border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.main_menu a span { font-size: 13px; font-family: "Noto Sans KR", sans-serif; 
    font-weight: 300;}
.main_menu a::before {content:""; display: inline-block; position: absolute; left: 0;
    top: 0; width: 5px; height: 100%; background-color: #fff;
}
.main_menu a:hover::before {
    background-color: #333;
}

.dashboard_content {box-sizing: border-box; padding:10px; font-size: 0;}
.dashboard_content > div {display: inline-block; vertical-align: top;}
.content_left {width: 250px; height: 200px;}
.content_right {width: 510px; height: 200px; margin-left: 20px;}

.content_left .con_title {font-size: 24px; font-family: "Noto Sans KR", sans-serif;}
.content_left .con_number {font-size: 32px; font-family: "Roboto", sans-serif;
    font-weight: 700;}
.content_left, .content_right {background-color: #fff; border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); box-sizing: border-box; padding:20px;
}
.content_left p:nth-child(2) {margin-bottom: 20px;}
.content_left p:nth-child(odd) {margin-bottom: 10px;}








