<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.RegionalInfoMapper">
    <select id="selectRegionalCoronaInfo" resultType="com.greenart.vo.CoronaSidoInfoVO">
        select *,
        (
	        (
	        	select incDec from corona_sido
            	where 
	            date_format(createDt, '%Y-%m-%d') = str_to_date(#{date}, '%Y-%m-%d')
	        	and gubun=#{region}
				limit 1
	        ) - (
	        	select incDec from corona_sido
	        	where 
	        	date_format(createDt, '%Y-%m-%d') 
	        	= date_sub(str_to_date(#{date}, '%Y-%m-%d'), interval 1 day)
	        	and gubun=#{region}
				limit 1
	        )
        )as diff
        from corona_sido where date_format(createDt, '%Y-%m-%d') 
        = str_to_date(#{date}, '%Y-%m-%d')
        and gubun=#{region}
		limit 1
    </select>
    <select id="selectCoronaInfoRegionalTotal" resultType="com.greenart.vo.CoronaInfoVO">
        select *, (
        	(
        		select decideCnt from corona_info
        		where date_format(stateTime , '%Y-%m-%d') 
        		= str_to_date(#{date}, '%Y-%m-%d')
				limit 1
        	) - (
        		select decideCnt from corona_info
        		where date_format(stateTime, '%Y-%m-%d') 
        		= date_sub(str_to_date(#{date}, '%Y-%m-%d'), interval 1 day)
				limit 1
        	)
        ) as diff
        from corona_info where date_format(stateTime , '%Y-%m-%d') 
        = str_to_date(#{date}, '%Y-%m-%d')
		limit 1
    </select>

	<select id="selectCoronaVaccineInfo" resultType="com.greenart.vo.CoronaVaccineInfoVO">
		select * from corona_vaccine
		where sido like #{region} and
		date_format(regDt , '%Y-%m-%d') = str_to_date(#{date}, '%Y-%m-%d')
		limit 1
	</select>

	<select id="selectDangerAge" resultType="java.lang.String">
		select gubun from (
			select (AVG(confCaseRate) + AVG(deathRate)) / 2 as danger, gubun from corona_age
			where gubun != '남성' and gubun != '여성'
			<![CDATA[
			and date_format(createDt, '%Y-%m-%d') <= str_to_date(#{date}, '%Y-%m-%d')
			]]>
			group by gubun order by danger desc limit 1
		) a
	</select>

	<select id="selectRegionalCoronaTwoWeeks" resultType="com.greenart.vo.CoronaWeeksVO">
		select date_format(createDt , "%Y-%m-%d") as date, defCnt from corona_sido
		where gubun=#{region} and 
		<![CDATA[
		date_format(createDt , "%Y-%m-%d") <= str_to_date(#{date}, "%Y-%m-%d")
		and
		date_format(createDt , "%Y-%m-%d") >
		date_sub(str_to_date(#{date}, '%Y-%m-%d'), interval 14 day)
		order by createDt asc
		]]>
	</select>

	<select id="selectRegionalVaccineTwoWeeks" resultType="com.greenart.vo.VaccineWeeksVO">
		select date_sub(date_format(regDt, "%Y-%m-%d"), interval 1 day)
		date, accFirstCnt, accSecondCnt 
		from corona_vaccine 
		where sido like #{region} and
		<![CDATA[
		date_format(regDt, "%Y-%m-%d") <= str_to_date(#{date}, "%Y-%m-%d")
		and date_format(regDt, "%Y-%m-%d") >
		date_sub(str_to_date(#{date}, '%Y-%m-%d'), interval 14 day)
		order by regDt asc
		]]>
	</select>
	<select id="selectVaccineInfo" resultType="com.greenart.vo.VaccineWeeksVO">
		select
			date_sub(date_format(regDt, "%Y-%m-%d"), interval 1 day)
			date, accFirstCnt, accSecondCnt, firstCnt, secondCnt, sido
		from corona_vaccine 
		where date_format(regDt, "%Y-%m-%d") = str_to_date(#{date}, "%Y-%m-%d")
		order by accFirstCnt desc
	</select>
</mapper>